{% extends "base.html" %}

{% block content %}
<section class="login-container">
    <div class="login-box">
        <h2>Accedi o Registrati</h2>
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Nome Utente</label>
                {{ form.username }}
            </div>
            
            <div class="form-group">
                <label for="id_password">Password</label>
                <div class="password-wrapper">
                    {{ form.password }}
                    <button type="button" id="togglePassword">MOSTRA</button>
                </div>
            </div>

        {% if form.errors %}
            <p style="color: red; text-align: center;">Username o password errati.</p>
        {% endif %}
        
            <button type="submit" class="btn">Entra</button>
        </form>
        
        
        <div class="footer-links">
            <p>Non hai un account? <a href="{% url 'register' %}">Registrati ora</a></p>
            <p><a href="#">Password dimenticata?</a></p>
        </div>
    </div>
</section>
{% endblock %}